.dialog-bubble {
    -fx-background-color: rgba(232, 239, 255, 0.95);
    -fx-background-radius: 1em 1em 0 1em;
}

.reply-dialog-bubble {
    -fx-background-radius: 1em 1em 1em 0;
}

.label {
    -fx-font: 13px "Book Antiqua";
}