.dialog-bubble {
    -fx-background-color: rgba(232, 239, 255, 0.95);
    -fx-background-radius: 1em 0 1em 1em;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 12, 0.2, 0, 0);
}

.reply-dialog-bubble {
    -fx-background-radius: 0 1em 1em 1em;
}

.label {
    -fx-font: 13px "Book Antiqua";
}

#username {
    -fx-font: bold 13px "Cambria";
}

#displayPicture {
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.25), 10, 0.3, 5, 5);
}