.root {
    main-color: #023d81;
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: #e8efff;
    -fx-font: 14px "Book Antiqua";
}

.button {
    -fx-background-color: #4e6cb7;
    -fx-font: bold 14px "Book Antiqua";
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #d3a518;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #e8efff;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
