.root {
    main-color: #0f3e78;
    background-color: linear-gradient(to bottom, #0f3e78, #062e5c);
    -fx-background-color: background-color;
    -fx-background-image: url("../images/Background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 300px;
    -fx-background-position: center center;
    -fx-background-insets: 0;
}

.text-field {
    -fx-background-color: #d3dbeb;
    -fx-font: 14px "Book Antiqua";
    -fx-background-radius: 24;
    -fx-padding: 8 15 8 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 14, 0.1, 2, 2);
}

.button {
    -fx-background-color: #1f5fbf;
    -fx-font: bold 22px "Book Antiqua";
    -fx-text-fill: white;
    -fx-background-radius: 24;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 14, 0.1, 2, 2);
    -fx-padding: 0;
}

.button:pressed {
    -fx-background-color: #d3a518;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: background-color;
}

.scroll-bar .thumb {
    -fx-background-color: #e8efff;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
